


body {
    background-color: rgb(238, 222, 222);
}

#header {
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    line-height: 30px;
    font-size: 15px;
    z-index: 1000;
}
h1 {
    border-bottom:0px;
}


.toc-category {
    
    font-size: 100%;
    
    color: white
}


#categories {
    background-color: white;
    
}



.profile .photo {
    display: block;
    margin: auto;
    width:500px;
    height:600px;
    align-items:left;
    position:left;
}
.profile .h2 {
    background-color: white;
}
.about {
    display: block;
    margin: auto;
    border: 1px;
    border-color: red;
}
.articles {
    
    background-color: white;
}

.flex-container {
    display: flex;
    text-align: center;
    gap: 8px;
    
    
}

.flex-professional{
    border-top: 10px solid grey;
    color: white;
    flex:1;
    background-color: rgba(40,40,40);
}

.flex-personal {
    border-top: 10px solid grey;
    color: white;
    flex:1;
    background-color: rgba(40,40,40);
}

.flex-education {
    border-top: 10px solid grey;
    color: white;
    flex:1;
    background-color: rgb(41, 40, 40);
}