<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adrian Kenneally</title>
    <link rel="stylesheet" text="text / css" href="static\index.css">


</head>
<body>

<div id = "page-wrapper">
    <!-- Header -->
    <div id="header">
        <h1> Adrian Kenneally </h1>
    </div>
    
    
    <div id ="categories">
        <center>

        <span class="toc-category" ><a href="./categories/blockchains.html">Blockchains</a></span>
        <span class="toc-category" ><a href="./categories/português.html">Artificial Intelligence</a></span>
        <span class="toc-category" ><a href="./categories/economics.html">Economics</a></span>
        <span class="toc-category" ><a href="./categories/philosophy.html">Philosophy</a></span>
        <span class="toc-category" ><a href="./categories/general.html">General</a></span>
        </center>
    </div> 
    <ul class="post-list" style="padding-right:0"> </ul>

    

    <div class ="profile">
        <img class = "photo" src = "./Images/Adrian.jpg" alt = "Profile">
    </div>
    
    <br>
    <div class ="about">      

            <h2>
                <p1><center>Little Bit About Me.</center></p1>
            </h2>
        <div class ="flex-container">

        <div class = "flex-education">
            <h1> Education</h1>
            BSc Physics and Chemistry
            BA Education
            MSc Artificial Intelligence
        </div>
        
        <div class = "flex-professional">
            <h1> Professional</h1>
            <ul> > Physics Teacher </ul>
            <ul> > Data & Analytics </ul>
            <ul> > Data Scientist </ul>
               <ul> > Data Engineer </ul>
            </ul>
        </div>

        <div class = "flex-personal">
            <h1> Personal </h1>
        </div>
    </div>

    
    <div class="Articles">
        <h1> This is where you find my articles </h1>
    </div>

    <div id="Media-Connections"> Media Connections
        <ol href="https://twitter.com/AdrianKenneally"> Twitter </ol>
        <ol> Instagram </ol>
        <ol> Github </ol>
        <ol> House Sitter</ol>
        <ol> LinkedIn </ol>
    </div>




</div>
</body>
</html>