<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type = "text/css" href="static/musing.css">
    <meta charset="UTF-8">
    <title>Musings</title>
</head>
<body>
<h1> My Articles </h1>

<div id="details">
    <p class = "date">13/02/2022 </p>
    <p class = "Author"> Adrian Kenneally</p>
</div>

<div style="clear: both;"></div>
<div class="Social">
    <h2> Social Media is Dead</h2>
    <div class="Paragraph"
    <p>In my opinion Social Media is dead. </p>
</div>


</body>
</html>