body {
  margin: 0;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
h1 {
color:orange;}

h2 {
color :red;
}

profile {
margin: auto;
float: left
}